@font-face {
  font-family: "Reey";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Reey-Regular.otf);
}

.header {
  position: fixed;
  z-index: 2;

  margin-left: auto;
}

.inputSearch {
  border-radius: 20px;
}

header ul li {
  margin-right: 0.5rem;
}

nav a {
  font-family: "Open Sans";
  font-size: 16.7px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.hero {
  position: relative;
  left: 0;
  top: -80px;
  z-index: 1;
  height: 1056px;
  background-image: url(./pictures/header_background_5063.png);
}

.logo {
  position: relative;
  top: 16%;
  left: 8%;
  width: 136px;
  height: 109px;
  background-image: url(./pictures/5060.png);
  background-repeat: no-repeat;
}

.name {
  position: relative;
  top: 26%;
  left: 8%;
  font-family: "Reey";
  font-size: 92px;
  line-height: 1.2;
  text-shadow: 0px 5px 5px rgba(84, 82, 79, 0.21);
  color: #ffffff;
}

.desc {
  position: relative;
  top: 36%;
  left: 8%;

  font-family: "Open Sans";
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.btn_RM {
  position: relative;
  top: 42%;
  left: 8%;

  font-family: "Open Sans";
  font-size: 25px;
  line-height: 1.2;
  font-weight: 800;
  color: #2e3034;

  padding: 10px 30px;
  border-radius: 20px;
  border: unset;
}

.desc_one {
  position: relative;
  top: 44%;
  left: 8%;

  font-family: "Open Sans";
  font-size: 20.9px;
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.pic1 {
  position: relative;
  top: -10%;
  left: 50%;

  width: 632px;
  height: 620px;

  background-image: url(./pictures/5066.png);
  background-repeat: no-repeat;
}

.pic2 {
  position: relative;
  top: -18%;
  left: 40%;

  width: 293px;
  height: 290px;

  background-image: url(./pictures/5065.png);
  background-repeat: no-repeat;
}

.pic3 {
  position: relative;
  top: -56%;
  left: 58%;

  width: 545px;
  height: 477px;

  background-image: url(./pictures/5276.png);
  background-repeat: no-repeat;
}

.mainText {
  /* margin-bottom: 20px; */

  font-family: Reey;
  font-size: 75px;
  line-height: 1.2;
  font-weight: 400;
  color: #222328;
}

.desc_2 {
  margin-top: 3em;
  margin-bottom: 3em;

  font-family: "Open Sans";
  font-size: 27.1px;
  line-height: 1.2;
  font-weight: 400;
  color: #2f3135;
}

.sliderTitel {
  font-family: "Open Sans";
  font-size: 29.2px;
  line-height: 1.2;
  font-weight: 700;
  color: #343434;
}

.sliderText {
  font-family: "Open Sans";
  font-size: 23px;
  line-height: 1.2;
  font-weight: 400;
  color: #343434;
}

.btnShowMore {
  margin-top: 4em;
  width: 334px;
  height: 75px;
  background-color: #343434;
  border-radius: 2em;

  font-family: "Open Sans";
  font-size: 23.2px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.sectionInfo {
  margin-top: 4em;
  padding-top: 6em;
  padding-bottom: 4em;
  background-color: #27292c;
}

.infoText {
  margin-top: 4em;
  font-family: Montserrat;
  font-size: 16.7px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
}

.btnMoreInfo {
  margin-top: 2em;

  width: 270px;
  height: 58px;
  opacity: 0.9;
  background-color: #fefefe;
  border-radius: 2em;

  font-family: Montserrat;
  font-size: 26.4px;
  line-height: 1.2;
  font-weight: 700;
  color: #27292c;
}

.pd {
  padding-top: 4em;
}

.dishTitle {
  margin-bottom: 1em;
  font-family: "Open Sans";
  font-size: 58.4px;
  line-height: 1.2;
  font-weight: 700;
  color: #27292c;
}

.dishText {
  margin-bottom: 1em;

  font-family: "Open Sans";
  font-size: 29.2px;
  line-height: 1.2;
  font-weight: 400;
  color: #27292c;
}

.btnReadMore {
  width: 334px;
  height: 75px;
  background-color: #27292c;
  border-radius: 2em;

  font-family: "Open Sans";
  font-size: 29.2px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}
